* {
  margin: 0;
  padding: 0;
}

.login-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    width: 300px;
    border: 1px solid #dbdbdb;
    text-align: center;
    padding: 1rem;
    border-radius: 0.3rem;

    button {
      margin-top: 1rem;
    }
  }
}

.content {
  height: 100vh;
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // margin-bottom: 30px;

  .wrapper {
    height: calc(100% - 30px);

    ///// Editor /////

    .editor {
      width: 100%;
      // height: calc(100vh - 280px);
      border-right: 1px solid #dbdbdb;
      height: 100%;

      // .selection {
      //   background-color: #ec2928;
      //   opacity: 0.3;
      // }

      // .cursor {
      //   background: #ec2928;
      //   width: 2px;
      // }

      #terminal {
        width: 100%;

        // .terminal.xterm,
        // .xterm-screen,
        // .xterm-helpers,
        // .xterm-text-layer,
        // .xterm-text-layer,
        // .xterm-text-layer,
        // .xterm-viewport,
        // .xterm-cursor-layer {
        //   width: 100% !important;
        //   height: 100% !important;
        //   margin-bottom: 30px;
        // }

        .xterm-cursor-layer {
          // background-color: rgba($color: #1e1e1e, $alpha: 0.5);
        }
        .xterm-viewport {
          // background-color: #1e1e1e;
        }
      }
    }

    .chat {
      width: 100%;
      margin: 0.5rem;

      button {
        margin-bottom: 0.5rem;
      }

      ///// Chat Video /////

      .video-chat {
        .video-user {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        .video-partner {
          width: 100%;
          margin: 0.5rem 0;
        }
      }

      ///// Chat Text /////

      .chat-content {
        width: 100%;
        height: 100%;

        #messages {
          height: 300px;
          border: 1px solid #d9d9d9;
          overflow-y: auto;
          overflow-x: hidden;
          ul {
            padding: 0.2rem;
            li {
              display: flex;
              flex-direction: column;

              #username-time {
                display: flex;
                justify-content: space-between;
                font-size: 0.7rem;
                line-height: 0.7rem;

                .blue {
                  color: blue;
                }

                .red {
                  color: red;
                }

                #username {
                }

                #time {
                }
              }

              #message {
                margin-bottom: 0.5rem;
                font-size: 1rem;
                line-height: 1.1rem;
              }
            }
          }
        }

        #typing {
          display: block;
          text-align: center;
          color: #cbc1cb;
          font-size: 0.7rem;
          line-height: 0.7rem;
        }
      }
    }
  }

  ///// Footer /////

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #1e1e1e;
    border-top: 1px solid #393939;
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      color: rgba($color: #ffffff, $alpha: 0.7);
      background-color: #1e1e1e;
      height: 29px;
      margin-right: 1rem;
      padding: 4px 0;
    }
  }
}
